[Unit]
Description=MQTT to PostgreSQL daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/bin/python3 /usr/local/bin/mqtt_to_postgres.py /usr/local/etc/mqtt_push.cfg
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
